<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Recomendacao de Carreira</title>
</head>
<body>
    <h1>Sistema de Recomendacao de Carreira</h1>

    <form method="POST">
        <h3>Selecione suas preferencias:</h3>

        <input type="checkbox" name="interests" value="gosta_matematica"> Gosto de matematica<br>
        <input type="checkbox" name="interests" value="gosta_programacao"> Gosto de programacao<br>
        <input type="checkbox" name="interests" value="gosta_biologia"> Gosto de biologia<br>
        <input type="checkbox" name="interests" value="gosta_pessoas"> Gosto de ajudar pessoas<br>
        <input type="checkbox" name="interests" value="gosta_artes"> Gosto de artes<br>
        <input type="checkbox" name="interests" value="criativo"> Sou criativo<br>
        <input type="checkbox" name="interests" value="gosta_numeros"> Gosto de numeros<br>
        <input type="checkbox" name="interests" value="gosta_financas"> Gosto de financas<br>

        <br><br>
        <button type="submit">Recomendar</button>
    </form>

    {% if recommendations %}
        <h2>Carreiras recomendadas:</h2>
        <ul>
            {% for career in recommendations %}
                <li>{{ career }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
